<div>
    <h4 *ngIf="!user">LOADING...</h4>
    <h4 *ngIf="user">
        <a routerLink="/user/{{user.id}}">Welcome,
            {{user.name}}!</a>
    </h4>
    <!-- <nav>

    <a routerLink="/posts" routerLinkActive="active">Posts</a>
</nav> -->

    <button class="btn btn-primary">
        <a routerLink="/user-profile" routerLinkActive="active">MyProfile</a>
    </button>
    <button class="btn btn-primary">
        <a routerLink="/users" routerLinkActive="active">Users</a>
    </button>
    <button class="btn btn-primary">
        <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </button>
</div>