<h2 *ngIf="!posts">
    LOADING ...</h2>
<ul *ngIf="posts">
    <li *ngFor="let post of posts">
        <p>Имя пользователя: {{users[post.userId].name}}
            <span>
            <app-like></app-like>
          </span>

        </p>
        <p>ID пользователя: {{post.userId}}</p>
        <p>Тема: {{post.title}}</p>
        <p>Сообщение:</p>
        <p> {{post.body}}</p>
        <div class="comments">
            <app-comments postId={{post.id}}></app-comments>
        </div>
    </li>
</ul>