.minPhoto
  display: inline-block
  width: 160px
  border: 1px solid black
  margin: 2px
  box-sizing: border-box
  overflow: auto
  padding: 5px

.inline
  margin: auto

.heigh
  height: 65px
  overflow: hidden

a
  text-decoration: none
  color: black

.minPhoto:hover
  cursor: pointer

.minPhoto:active
  background: #a9a9a9
