<div class="container">
    <h4 *ngIf="!user">LOADING...</h4>
    <div *ngIf="user">
        <h4>User name: {{name}}
        </h4>
        <h5>Username: {{un}}</h5>
        <p>E-mail: {{em}}</p>
        <p>Full adress: {{ adress }}</p>
        <agm-map [latitude]="lat" [longitude]="lng"> -->
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <p>Website: {{site}}</p>
        <p>Phone: {{phone}}</p>
        <p>Company name: {{company}}</p>
        <button class="btn btn-primary">
          <a [routerLink]="['/albums', userId]" routerLinkActive="active">Albums
          </a>
        </button>
    </div>


</div>