<h2 *ngIf="!albums">
    LOADING ...</h2>
<div *ngIf="albums">
    <p>
        {{user.name}}
    </p>

    <ul>Album Titles:

        <li *ngFor="let album of albums">
            <a [routerLink]="['/albums', album.userId, album.id]" routerLinkActive="active">
                <p>Album id: {{album.id}}</p>
                <p>
                    Album Title: {{album.title}}

                </p>
                <app-album albumId={{album.id}}></app-album>
            </a>

        </li>

    </ul>
</div>